{% extends 'base.html.twig' %}

{% block body %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    {% include 'header.html.twig' %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Order information</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <body>
        <section class="call-order">
            <div class="cart-order">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </section>
    </body>
    <!-- Footer -->
  {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
  {% include 'scripts.html.twig' %}
{% endblock %}