{% extends 'base.html.twig' %}

  {% block body %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    {% include 'header.html.twig' %}


    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Shop EDU</h4>
                <h2>souvenirs</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

<!--Main layout-->
  <body>
    <section class="call-to-action">
      <div class="grid-title">
        <h2>{{ product.title }}</h2>
      </div>
      <div class="product-item">
      <div class="product-content-overview product-single">
        <div class="product-overview-img product-column">
          <div class="preview-product">
            <img src="/assets/images/products/product-9.jpg" alt="Product Image"/>
            <p class="product-price">
              <span class="price">{{ product.price }}$</span>
            </p>
            <div class="product-action">
              <a href="{{ path('shopCartAdd', {'productId' : id }) }}"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="product-description product-column">
          <p>{{ product.description }}</p>
        </div>
      </div>
      </div>
    </section>
  </body>
<!--Main layout-->


    <!-- Footer -->
    {% include 'footer.html.twig' %}
  {% endblock %}

  {% block javascripts %}
    {% include 'scripts.html.twig' %}
{% endblock %}