{% extends 'base.html.twig' %}

{% block body %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    {% include 'header.html.twig' %}

    <section class="call-to-action">
        <div class="heading-page header-text">
            <section class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-content">
                                <h4>Shopping Cart</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="blog-posts">
        <div class="shopping-cart">

            <div class="column-labels">
                <label class="product-image">Image</label>
                <label class="product-details">Product</label>
                <label class="product-price">Price</label>
                <label class="product-quantity">Quantity</label>
                <label class="product-removal">Remove</label>
                <label class="product-line-price">Total</label>
            </div>

            {% for product in products %}
                {% set counter = ( counter | default(-1) ) + 1 %}
                <div class="product">
                    <div class="product-image">
                        <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
                    </div>
                    <div class="product-details">
                        <div class="product-title">{{ product.title }}</div>
                        <p class="product-description">{{ product.description }}</p>
                    </div>
                    <div class="product-price">{{ product.price }}</div>
                    <div class="product-quantity">
                        <input type="number" value="{{ order[counter].count }}" min="1">
                    </div>
                    <div class="product-removal">
                        <button class="remove-product">
                            Remove
                        </button>
                    </div>
                </div>
            {% endfor %}
            <form method="get" action="/shop/order">
                <button class="checkout">Checkout</button>
            </form>
        </div>
    </section>

    <!-- Footer -->
  {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
  {% include 'scripts.html.twig' %}
{% endblock %}