{% extends 'base.html.twig' %}

  {% block body %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    {% include 'header.html.twig' %}


    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Shop EDU</h4>
                <h2>souvenirs</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

<!--Main layout-->
  <body>
     <!-- Grid Style 3 Start -->
    <div class="grid-title">
    </div>
      <div class="product-grid grid-3">
        {% for product in products %}
          <div class="product-item product-list">
            <div class="product-single">
              <div class="product-img">
                <img src="/assets/images/products/product-9.jpg" alt="Product Image"/>
                <div class="product-price">
                  <span>{{ product.price }}$</span>
                </div>
              </div>
              <div class="product-content">
                <div class="product-title">
                  <h2><a href="">{{ product.title }}</a></h2>
                </div>
                <div class="product-ratting">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <div class="product-action">
                  <a href="/shop/{{ product.id }}"><i class="fa fa-shopping-bag"></i>Read more</a>
                  <a href="{{ path('shopCartAdd', {'productId' : product.id }) }}" onClick=""><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>

    <!-- Grid Style 3 End -->

    <!-- Grid Style 4 End -->
  </body>
<!--Main layout-->


    <!-- Footer -->
    {% include 'footer.html.twig' %}
  {% endblock %}

  {% block javascripts %}
    {% include 'scripts.html.twig' %}
{% endblock %}